
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    background-color : #2E9CE6;
    padding : 3em;
    font-family: 'Raleway', Arial;
    color: #fff;
    display :flex;
}


ul{
    list-style-type: none;
    margin:0 0 2em 0;
    padding:0;
}

ul li{
    display: inline;
    margin-right: 30px;
}

ul li a{
    font-size: 1.5em;
}

a{
    color: #fff;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background-color: #2885C4;
}
pre, .color-light {
    background-color: #57B3F1;
}

/*EnvDlg__Calendar-Grid p{*/
    /*background-color: #57B3F1;*/
/*}*/

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display:block;
    padding:1em 3em;
    background:#A5F883;
    color:#003A61;
    margin-bottom:1em;
    cursor:pointer;
}
.life-container {
    background:#3FA0E1;
    padding:.5em;
    font-weight:bold;
    cursor:pointer;
    align-items: stretch;
}


.calendar__table{
    width: 99%;
    height: calc(100vh - 128px);
    margin-left: 5px;
}

.calendar__table td{
    padding: 10px;
    border: 1px solid #ccc;
    height: 20%;
    vertical-align: top;
    width: 14.29%;
}

.calendar__table .calendar__othermonth {
    border : none;
}

.calendar__tableX td{
    height: 16.66%; !important;
}

.calendar__table .calendar__weekday__names {
    text-align: center;
    font-weight: bold;
}

.calendar__dayNum{
    font-size: 1.3em;
}
.calendar__othermonth .calendar__dayNum{
    opacity: 0.3;
}


.FWindow {
    position: absolute;
    box-shadow: #3c3c3c 10px 8px 30px;
    background : #2E9CE6; /* Forcer l'opacité complete!! */
    border : 1px solid #AEA0FF; /* #003A61; */
    display:block;
    padding:1px;
    overflow: hidden;

}

.done-true {
    text-decoration: line-through;
    color: grey;
}
